<form *ngIf="hoChieu" name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>

        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
    </div>

    <div class="modal-body">

        <p>Số hộ chiếu <span style="color: red;">{{hoChieu.soHC}}</span> đã tồn tại! Bạn có muốn xem thông tin chi tiết số hộ chiếu không?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="view(hoChieu.soHC)">
            <span style="color: white;"><fa-icon icon="check"></fa-icon>&nbsp;Xem</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="times"></fa-icon>&nbsp;Thoát
        </button>
    </div>
</form>