<div>
    <div style="background-color: white;">
        <div class="container pt-4 pb-4">
        </div>
    </div>
    <div style="background-color: white;">
        <div class="me-3 ms-3">
            <form name="form" role="form" enctype="multipart/form-data" (ngSubmit)="create()" [formGroup]="AdfileForm" *ngIf="!success">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                <h6 class="form-label">File&nbsp;<span style="color: red;" class="pt-2">*</span>
                                </h6>
                            </div>
                            <div class="col-md-10 custom-file-button">
                                <small for="uploadDocument">Tải tệp file không lớn hơn
                                    <strong>100 MB</strong></small>
                                <mat-chip-list #chipList>
                                    <label class="input-group-text label-cus mt-1" for="inputGroupFile">Tải tập
                                        tin</label>
                                    <mat-chip style="background-color: #e3e5e6;"
                                        *ngFor="let file of lstUploadedFiles; let index = index" [removable]="true"
                                        (removed)="remove(file.AttachmentName, index)">
                                        {{file.AttachmentName}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>                           
                                    <input type="file" id="inputGroupFile" multiple #uploadFile
                                        (change)="handleFileInput($event)" name="fileImg" formControlName="fileImg"
                                        [matChipInputFor]="chipList" class="form-control">
                                    
                                </mat-chip-list>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex justify-content-end">
                            <button type="submit" [disabled]="AdfileForm.invalid" class="btn btn-primary"
                                data-cy="submit"
                                style="color: aliceblue; background-color: #1A4792; width: 100px; border-radius: 7px;">
                                <fa-icon class="iconColor" icon="save"></fa-icon>
                                <span>Lưu</span>
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-primary"
                                style="color: aliceblue; background-color: #1A4792; border-radius: 7px;"
                                [routerLink]="['/quanlydanhmuc/adFile']">
                                <fa-icon class="iconColor" icon="arrow-left"></fa-icon>
                                <span>Quay lại</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<app-alert></app-alert>