@import "~bootstrap-icons/font/bootstrap-icons.css";
.cusThead {
    background-color: #1A4792;
    color: white;
}

.iconColor1 {
    color: white;
}
.iconBG1 {
    background-color: #1A4792;
}
.divBGColor1 {
    background-color: white;
}
.navBGColor1 {
    background-color: #1A4792; 
    color: aliceblue;
}
.textColor1 {
    color: #1A4792;
}
.buttonborder {
    border-radius: 7px;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: white !important;
    //border-color: black !important;
  }
  
  // ::ng-deep ul > li.disabled > span {
  //   background-color: brown !important;
  //   border-color: black !important;
  // }
  
  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #1A4792 !important;
    border-color: #1A4792  !important;
  }
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem d#1A4792;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #1A4792;
  }