<div style="background-color: #fff; padding-top: 40px;">
  <form class="me-5 pb-4" [formGroup]="editForm" (ngSubmit)="save()" style="margin-left: 100px;">
    <div class="row mb-5 ">
      <label class="label">Mật khẩu hiện tại &nbsp;<span class="text-danger">*</span></label>
      <span style="width: 65%;" class="position-relative">
        <input [type]="fieldTextType1 ? 'text' : 'password'" class="input" style="width: 100%;"
          placeholder="Nhập mật khẩu hiện tại" formControlName="matKhau" autocomplete="off" />
        <span class="group-icon" (click)="fieldTextType1 = !fieldTextType1">
          <i [hidden]="!isHidden1" (click)="showDiv1()" class="bi bi-eye"></i><i [hidden]="isHidden1"
            (click)="hideDiv1()" class="bi bi-eye-slash"></i>
        </span>
        <div
          *ngIf="editForm.get('matKhau')!.invalid && (editForm.get('matKhau')!.dirty || editForm.get('matKhau')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('matKhau')?.errors?.required ">
            Trường này không được để trống.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('matKhau')?.errors?.minlength">
            Mật khẩu cẩn ít nhất 6 ký tự
          </small>
        </div>
      </span>
    </div>
    <div class="row mb-5">
      <label for="orgName" class="label">Mật khẩu mới &nbsp;<span class="text-danger">*</span></label>
      <span style="width: 65%;" class="position-relative">
        <input [type]="fieldTextType2 ? 'text' : 'password'" class="input" style="width: 100%;"
          placeholder="Nhập mật khẩu mới" formControlName="matKhauMoi" autocomplete="off" />
        <span class="group-icon" (click)="fieldTextType2 = !fieldTextType2">
          <i [hidden]="!isHidden2" (click)="showDiv2()" class="bi bi-eye"></i><i [hidden]="isHidden2"
            (click)="hideDiv2()" class="bi bi-eye-slash"></i>
        </span>
        <div
          *ngIf="editForm.get('matKhauMoi')!.invalid && (editForm.get('matKhauMoi')!.dirty || editForm.get('matKhauMoi')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('matKhauMoi')?.errors?.required ">
            Trường này không được để trống.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('matKhauMoi')?.errors?.minlength">
            Mật khẩu cẩn ít nhất 6 ký tự
          </small>
        </div>
      </span>
    </div>
    <div class="row mb-5">
      <label for="orgName" class="label">Nhập lại mật khẩu mới &nbsp;<span class="text-danger">*</span></label>
      <span style="width: 65%;" class="position-relative">
        <input [type]="fieldTextType3 ? 'text' : 'password'" class="input" style="width: 100%;"
          placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" autocomplete="off" />
        <span class="group-icon" (click)="fieldTextType3 = !fieldTextType3">
          <i [hidden]="!isHidden3" (click)="showDiv3()" class="bi bi-eye"></i><i [hidden]="isHidden3"
            (click)="hideDiv3()" class="bi bi-eye-slash"></i>
        </span>
        <div
          *ngIf="editForm.get('confirmPassword')!.invalid && (editForm.get('confirmPassword')!.dirty || editForm.get('confirmPassword')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.required ">
            Trường này không được để trống.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.minlength">
            Mật khẩu cẩn ít nhất 6 ký tự
          </small>
          <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.['confirmedValidator']">
            Mật khẩu không khớp
          </small>
        </div>
      </span>
    </div>
    <div class="d-flex justify-content-end container">
      <button type="submit" class="btn btn-primary btn-pw me-3" [disabled]="editForm.invalid || isSaving">Đổi mật
        khẩu</button>
      <button type="button" class="btn btn-primary btn-quit-pw" routerLink=""> <i
          class="bi bi-arrow-left iconColor"></i>Thoát</button>
    </div>
  </form>
  <!-- <div style="border: 1px solid #797979;"></div> -->
  <!-- <p class="mt-2"><b>Quy định về mật khẩu</b></p>
          <ol>
            <li>Không chứa tên account của người dùng, hoặc 1 phần tên đầy đủ(họ, tên đệm hoặc tên) có độ dài hơn 3 ký tự</li>
            <li>Chứa ít nhất 12 ký tự</li>
            <li>Chứa các ký tự thuộc tối thiểu 3 nhóm trong danh sách 4 nhóm sau:
              <ol type="a">
                <li>Ký tự tiếng Anh viết hoa (A - Z)</li>
                <li>Ký tự tiếng Anh viết thường (a -z)</li>
                <li>Ký tự số (0-9)</li>
                <li>Ký tự khác (ví dụ : ` ~ ! @ # $ % ^ & * ( ) _ + - = &#10100; &#10101; | " ; ' &lt; &gt; ? , . /)</li>
              </ol>
            </li>
          </ol>  -->
</div>
<app-alert></app-alert>