.pw-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pw-label {
    width: 300px;
}

.btn-pw {
    margin: 0 50px;
    background-color: #1A4792;
    border-radius: 7px;
    color: #fff;
}

.btn-quit-pw {
    margin-right: 130px;
    background-color: #1A4792;
    border-radius: 7px;
    color: #fff;
}

.group-icon {
    display: flex;
    align-items: center;
}

.group-icon,
.bi-eye-slash,
.bi-eye {
    position: absolute;
    right: 6px;
    top: 4px;
}