<div *ngIf="doanRa">
    <form action="" style="background-color: white;">
        <div class="p-4">
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6>STT đoàn</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.maDoan" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Tên đoàn <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.tenDoan" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Trưởng đoàn <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.truongDoan" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Chức vụ</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.chucVu" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Mục đích hoạt động</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.mucDichHD" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Ngày xuất cảnh</h6>
                </div>
                <div class="col-sm-3">
                    <div class="w-30 input-group">
                        <input class="form-control" type="text" [(ngModel)]="doanRa.ngayXC" [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 style="padding-left: 10%;">Ngày nhập cảnh</h6>
                </div>
                <div class="col-sm-3">
                    <div class="w-30 input-group">
                        <input class="form-control" type="text" [(ngModel)]="doanRa.ngayNC" [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Số lượng thành viên trong đoàn</h6>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.soLuongTV" [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                </div>
                <div class="col-sm-6 vertical" style="align-self: center;">
                    <h6>&nbsp;người</h6>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Ghi chú</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="doanRa.ghiChu" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col-sm-3">
                    <h6 >Người tạo</h6>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="text" [(ngModel)]="nguoiLap"
                        [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
                
                <div class="col-sm-3">
                    <h6 class="m-2" style="padding-left: 16%;">Người sửa</h6>
                </div>
                <div class="col-sm-3">
                    <div class="w-30 input-group">
                        <input class="form-control" type="text" [(ngModel)]="nguoiSua"
                            [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-sm-3">
                    <h6>Hồ sơ đính kèm</h6>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center col-10">Tên file</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of doanRa.listDRFileVM"> 
                            <td class="text-center" style="font-weight: bold;"></td>
                            <td>{{d.fileName}}</td>
                            <td class="text-center">
                                <!-- <a class="view" title="View" data-toggle="tooltip"
                                    (click)="downloadFile(d.id, d.fileName)" style="text-align: justify; color: blue;"><i
                                        class="material-icons view">visibility</i></a> -->
                                <a class="add" title="Add" data-toggle="tooltip"
                                (click)="downloadFile(d.id, d.fileName)" style="text-align: justify;"><i
                                    class="material-icons">file_download</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="form-group row">
                <h6>Lãnh đạo tiếp đoàn</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center col-1">STT</th>
                            <th class="text-center col-11">Họ và tên</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemLD of doanRa.listLanhDao">
                            <td class="text-center" style="font-weight: bold;"></td>
                            <td>{{itemLD.hoTen}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="form-group row">
                <h6>Quốc gia đến</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center col-1" style="vertical-align: middle;">STT</th>
                            <th class="text-center col-2" style="vertical-align: middle;">Quốc gia</th>
                            <th class="text-center col-4" style="vertical-align: middle;">Chương trình hoạt động</th>
                            <th class="text-center col-1" style="vertical-align: middle;">Số lượng thành viên</th>
                            <th class="text-center col-3" style="vertical-align: middle;">Nơi lưu trú</th>
                            <th class="text-center col-1" style="vertical-align: middle;">Số ngày lưu trú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemDP of doanRa.listHoSoDtl">
                            <td class="text-center" style="font-weight: bold;"></td>
                            <td>{{itemDP.quocGia}}</td>
                            <td>{{itemDP.chuongTrinhHD}}</td>
                            <td class="text-center">{{itemDP.soLuongTV}}</td>
                            <td>{{itemDP.noiLuuTru}}</td>
                            <td class="text-center">{{itemDP.soNgayLuuTru}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="print()">
                    <fa-icon class="bi bi-printer iconColor"></fa-icon>
                    <span  class="iconColor">In báo cáo</span>
                  </button> 

                <button class="btn btn-primary jh-create-entity buttonborder" routerLink="/doanRa/quanLyDoanRa">
                    <fa-icon class="bi bi-box-arrow-left iconColor"></fa-icon>
                    <span class="iconColor">Quay lại</span>
                </button>
            </div>
        </div>
    </form>
</div>