<div>

    <div *ngIf="TkForm">
      <form action="" style="background-color: white;" >
        <div>
          <br>
          <table class="table-space" border="0">
  
            <tr>
              <td [style.width.%]="2">
              </td>
              <td [style.width.%]="20">
                <h6 >Lãnh đạo tiếp khách <span class="title3">*</span></h6>
              </td>
              <td colspan="4">
                <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.lanhDao" [ngModelOptions]="{standalone: true}"></div>
              </td>
              <td [style.width.%]="2">
              </td>
            </tr>
            <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Chức vụ</h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.chucVu" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Cơ quan </h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.coQuan" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Tên đoàn khách </h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.doanKhach" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Quốc gia </h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.quocGia" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Thời gian tiếp khách</h6>
                </td>
                <td [style.width.%]="14">
                    <h6 >Từ ngày</h6>
                  </td>
                <td [style.width.%]="24">
                    <div class="input-group">
                        <input class="form-control disableDiv" readonly type="text" placeholder="dd/mm/yyyy" [(ngModel)]="TkForm.thoiGianTu" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </td>
                <td [style.width.%]="14">
                    <h6 class="text-center">Đến ngày</h6>
                  </td>
                <td [style.width.%]="24"><div class="input-group">
                         <input class="form-control disableDiv" readonly type="text" placeholder="dd/mm/yyyy" [(ngModel)]="TkForm.thoiGianDen" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Địa điểm</h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.diaDiem" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="20">
                  <h6 >Hình thức tiếp khách</h6>
                </td>
                <td colspan="4">
                  <div class="col d-flex justify-content-start"><input class="form-control disableDiv" readonly type="text" [(ngModel)]="TkForm.hinhThuc" [ngModelOptions]="{standalone: true}"></div>
                </td>
                <td [style.width.%]="2">
                </td>
              </tr>
              
          </table>
          </div>
          <br/>
          <div>
            <table border="0">
                <tr>
                    <td [style.width.%]="2">
  
                    </td>
                    <td [style.width.%]="96">
                        <div> <h6 style="font-weight: bold;">Danh sách thành viên của đoàn khách </h6></div>
                    </td>
                    <td [style.width.%]="2">
  
                    </td>
                   </tr>
                    <tr>
                    <td [style.width.%]="2">
  
                    </td>
                    <td>
                      <div class="table-responsive">
                        <table class="table table-striped" aria-describedby="user-management-page-heading" border="2">
                          <thead>
                            <tr>
                              <th scope="col" class="text-center" [style.width.%]="5"><span>STT</span> </th>
                              <th scope="col" class="text-center" [style.width.%]="15"><span>Họ và tên</span> </th>
                              <th scope="col" class="text-center" [style.width.%]="8"><span>Giới tính</span></th>
                              <th scope="col" class="text-center" [style.width.%]="12">
                                <span>Ngày sinh</span> 
                              </th>
                              <th scope="col" class="text-center" [style.width.%]="20">
                                <span>Chức vụ</span>
                              </th>
                              <th scope="col" class="text-center" [style.width.%]="30">
                                <span>Cơ quan</span> 
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!checkKhach">
                            <tr *ngFor="let item of TkForm.listTKQTKhachVM; let i = index">
                              <td class="text-center">{{TkForm.listTKQTKhachVM.indexOf(item)+1}}</td>
                              <td>{{item.hoTen}}</td>
                              <td class="text-center">{{item.gioiTinh}}</td>
                              <td class="text-center">{{item.ngaySinh}}</td>
                              <td>{{item.chucVu}}</td>
                              <td>{{item.coQuan}}</td>

                          </tr>
                          </tbody>
                        </table>
                    </div>
                                 
                    </td>
                    <td [style.width.%]="2">
  
                    </td>
                </tr>
                <tr >
                  <td [style.width.%]="2">
    
                  </td>
                  <td style="text-align:right;"><i><h6 style="font-weight: bold;">Tổng số thành viên của đoàn khách : {{totalKhach}}</h6></i></td>
                  <td [style.width.%]="2">
    
                  </td>
                </tr>
                <tr >
                  <td><br></td>
                </tr>
                <tr>
                  <td [style.width.%]="2">
  
                  </td>
                  <td [style.width.%]="96">
                      <div> <h6 style="font-weight: bold;">Danh sách thành viên tham dự phía Việt Nam </h6></div>
                  </td>
                  <td [style.width.%]="2">
  
                  </td>
                 </tr>
                  <tr>
                  <td [style.width.%]="2">
  
                  </td>
                  <td>
                    <div class="table-responsive">
                      <table class="table table-striped" aria-describedby="user-management-page-heading" border="1">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center" [style.width.%]="5"><span>STT</span> </th>
                            <th scope="col" class="text-center" [style.width.%]="15"><span>Họ và tên</span> </th>
                            <th scope="col" class="text-center" [style.width.%]="8"><span>Giới tính</span></th>
                            <th scope="col" class="text-center" [style.width.%]="12">
                              <span>Ngày sinh</span> 
                            </th>
                            <th scope="col" class="text-center" [style.width.%]="20">
                              <span>Chức vụ</span>
                            </th>
                            <th scope="col" class="text-center" [style.width.%]="30">
                              <span>Cơ quan</span> 
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="!checkVN">
                          <tr *ngFor="let item of TkForm.listTKQTThanhVienVM; let i = index">
                            <td class="text-center">{{TkForm.listTKQTThanhVienVM.indexOf(item)+1}}</td>
                              <td>{{item.hoTen}}</td>
                              <td class="text-center">{{item.gioiTinh}}</td>
                              <td class="text-center">{{item.ngaySinh}}</td>
                              <td>{{item.chucVu}}</td>
                              <td>{{item.coQuan}}</td>
 
                        </tr>
                        </tbody>
                      </table>
                    </div>
                               
                  </td>
                  <td [style.width.%]="2">
  
                  </td>
              </tr>
              <tr >
                <td [style.width.%]="2">
  
                </td>
                <td style="text-align:right;"><i><b><h6 style="font-weight: bold;">Tổng số thành viên phía Việt Nam : {{totalTV}}</h6></b></i></td>
                <td [style.width.%]="2">
  
                </td>
              </tr>
              <tr >
                <td><br></td>
              </tr>
              <tr>
                <td [style.width.%]="2">
  
                </td>
                <td [style.width.%]="90">
                    <div> <h6 style="font-weight: bold;">HỒ SƠ ĐÍNH KÈM</h6></div>
                </td>
                <td [style.width.%]="2">
  
                </td>
               </tr>
              <tr>
                <td [style.width.%]="2">
                  
                </td>
                <td [style.width.%]="96"> 
                  <div class="table-responsive">
                    <table class="table table-striped" aria-describedby="user-management-page-heading" border="1">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center" [style.width.%]="5"><span>STT</span> </th>
                          <th scope="col" class="text-center" [style.width.%]="70"><span>Tên file</span> </th>
                          <th scope="col" class="text-center" [style.width.%]="20">
                            <span>Thao tác</span> 
                          </th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let d of TkForm.listTKQTFileVM"> 
                          <td class="text-center">{{TkForm.listTKQTFileVM.indexOf(d)+1}}</td>
                          <td>{{d.fileName}}</td>
                          <td class="text-center align-middle"><a class="add" style="color: #27C46B"
                            title="Tải tệp tin" data-toggle="tooltip"
                            (click)="downloadFile(d.id, d.fileName)">
                            <i class="material-icons">file_download</i></a></td>
                        </tr> 
                      </tbody>            
                    </table>
                  </div>
                             
                </td>
                <td [style.width.%]="2">
  
                </td>
            </tr>
          </table></div>
          <br>
          <div class="d-flex justify-content-end">
           
            
          </div>
          <div class="d-flex justify-content-end">
            <table border="0">
              <tr>
                <td [style.width.%]="2">
                </td>
                <td [style.width.%]="96" style="text-align: right;">
                   <button style="width: 100px;" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="print()">
                      <fa-icon class="bi bi-printer iconColor"></fa-icon>&nbsp;
                      <span  class="iconColor">In</span>
                    </button> 
                    <button class="btn btn-primary jh-create-entity iconBG buttonborder" [routerLink]="['/tiep-khach-quoc-te']">
                      <fa-icon class="bi bi-box-arrow-left iconColor"></fa-icon>&nbsp;
                      <span class="iconColor">Quay lại</span>
                    </button>
                <td [style.width.%]="2">
                </td>
              </tr>
            </table>
          </div>
          <br>
      </form>
    </div>
    <br>
    
    
  </div>

  