
  .table-space tr{
    height: 50px;
    align-items : text-center;
  }
  .title3 {
	font-family: Verdana;
	font-size: 11px;
	color: #ff3300;
	font-weight: none
}
.table-striped{
  max-height: 2000px;
  table-layout:fixed;
}

.title{
  color: #1A4792;
  font-size: 22px;
  font-weight: 400;

  .bi-search {
    font-weight: bold;
  }
}

.form-input {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;  
}

.input-wrapper {
    height: 50px;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .c2 {
    display: flex;
    width: 170px;
    font-size: 20px;
  }
  
  .input-container {
    height: 35px;
    border-radius: 4px;
  }
  
  .content-wrapper {
      max-width: 100%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
    }

  table {
    width: 100%;
  }

  .table-responsive{
    background-color: #fff;
    overflow: visible !important;
  }

  .data-table {
    text-align: center;
  }

  .col-2i {
    height: 35px;
    width: 600px;
    position: relative;
  }


  .bi {
    margin: 0 0px !important;
  }

  .bi-folder {
    font-size: 30px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }


    input.mat-chip-input {
      width: 110px;
      margin: 4px;
      flex: 0 0 auto;
      color:white;
  }

  .delete-icon {
    color: #000; /* Delete icon color */
    cursor: pointer; /* Change cursor on hover */
    margin-left: 5px; /* Adjust spacing between file name and delete icon */
    font-size: 14px;
  }
  
  .delete-icon:hover {
    color: #000; /* Delete icon color on hover */
  }

  .mat-chip {
    background-color: #e3e5e6; /* Background color */
    color: #000; /* Text color */
    margin: 4px; /* Margin around the chip */
  }
  
  .mat-chip:hover {
    background-color: #cfd8dc; /* Background color on hover */
  }
  
  /* If you want to style the remove icon */
  .mat-chip-remove {
    color: #000; /* Remove icon color */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .mat-chip-remove:hover {
    color: #000; /* Remove icon color on hover */
  }


  table.table th{
    vertical-align: middle !important;
  }
  
  .inputBorder {
    border-radius: 10px;
  }
  
  .iconColor {
    color: white;
  }
  
  .buttonborder {
    border-radius: 7px;
  }
  
  
  table.table td.vertical {
    vertical-align: middle !important;
  }
  
  .inputBorder {
    border-radius: 10px;
  }
  
  .disableDiv {
    background-color: rgb(206, 206, 206);
    border-radius: 7px;
  }
  
  table.table th {
  vertical-align: middle !important;
  }
  
  .iconColor {
  color: white;
  }
  
  .buttonborder {
  border-radius: 7px;
  }
  
  table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

.custom-file-button {
  input[type="file"] {
    display: none;
    &::-webkit-file-upload-button {
      display: none;
    }
    &::file-selector-button {
      display: none;
    }
  }

  &:hover {
    .label-cus {
      background-color: #70B603;
      cursor: pointer;
      color: white;
    }
  }
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: white !important;
  //border-color: black !important;
}

// ::ng-deep ul > li.disabled > span {
//   background-color: brown !important;
//   border-color: black !important;
// }

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #1A4792 !important;
  border-color: #1A4792  !important;
}
ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}