.signature-icon {
  width: 164px;
  height: 80px;
  background-color: #fff6e5;
  border: 1px solid #ffae09;
  border-radius: 0.25rem;
  ._signature-icon {
    position: relative;
    width: 100%;
    height: 100%;
    .signature-icon-content {
      display: flex;
      flex-flow: column;
      .signature-icon-text {
        margin: 0;
        color: #ffae09;
        font-size: 1rem;
        font-weight: 500;
      }
      img {
        margin-top: 0.25rem;
        height: 3rem;
      }
    }
    .resize-button {
      position: absolute;
      bottom: 3px;
      right: 3px;
    }
    path {
      fill: #ff891a;
    }
  }
}
