<div >
<div style="background-color: white;padding-top: 1.5rem !important;">
  <table class="table-space" aria-describedby="user-management-page-heading"  border="0">
    <tr>
      <td [style.width.%]="1"></td>
      <td [style.width.%]="98">
        <h5 class="title"><fa-icon class="bi bi-search"></fa-icon>&nbsp;Điều kiện tìm kiếm</h5>
        <hr>
      </td>
      <td [style.width.%]="1"></td>
    </tr>
  </table>
    <div>
      <form action="">
        <div >
          <table class="table-space" aria-describedby="user-management-page-heading"  border="0">

            <tr>
              <td [style.width.%]="1"> 
              </td>
              <td [style.width.%]="14">
                <h6 >Tên hoạt động</h6>
              </td>
              <td [style.width.%]="33">
                <input class="form-control inputBorder" type="text"  [(ngModel)]="fields.tenHD" name="tenHD" id="tenHD">            
              </td>
              <td [style.width.%]="4">
              </td>
              <td [style.width.%]="14">
                <h6 >Cơ quan đại diện</h6>
              </td>
              <td [style.width.%]="33">
                <input class="form-control inputBorder" type="text"  [(ngModel)]="fields.coQuan" name="coQuan" id="coQuan">
              </td>
              <td [style.width.%]="1">
              </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="14">
              <h6 >Quốc gia</h6>
            </td>
            <td [style.width.%]="33">
              <div class="input-group">
                <select class="form-select inputBorder" style="background-color: #fff" name="quocGia" [(ngModel)]="fields.quocGia" id="quocGia">
                  <option [value]="null">Tất cả</option>
                  <option *ngFor="let item of quocGia" [value]="item.ten">{{ item.ten }}</option>
                </select>
              </div>  </td>
            <td [style.width.%]="4">
            </td>
            <td [style.width.%]="14">
              <h6 >Địa điểm</h6>
            </td>
            <td [style.width.%]="33">
              <input class="form-control inputBorder" type="text" [(ngModel)]="fields.diaDiem" name="diaDiem" id="diaDiem">
            </td>
            <td [style.width.%]="1">
            </td>
        </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="14">
              <h6 >Thời gian</h6>
            </td>
            <td [style.width.%]="33">
              <input 
                class="form-control inputBorder" 
                type="text" placeholder="dd/mm/yyyy"  
                bsDatepicker [(ngModel)]="fields.thoiGian"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false }" 
                name="thoiGian" 
                id="thoiGian"
                (change)="isInvalidDate($event)"/>
            </td>
            <td [style.width.%]="4">
            </td>
            <td [style.width.%]="14">
              <h6 >Năm</h6>
            </td>
            <td [style.width.%]="33">
              <input class="form-control inputBorder" type="text" [(ngModel)]="fields.nam" name="nam" id="nam">
            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          </table>
          </div>
        </form>
        <br>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="search()">
            <fa-icon class="iconColor" icon="search"></fa-icon>
            <span class="iconColor">Tìm kiếm</span>
          </button>
          <button *ngIf="checkAuth" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" [routerLink]="['./new']">
            <fa-icon class="iconColor" icon="plus"></fa-icon> <span class="iconColor">Thêm mới</span>
          </button>
          <button type="botton" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataPrint()">
            <fa-icon class="bi-printer iconColor"></fa-icon> <span class="iconColor">In báo cáo</span>
          </button>
          <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataExport()">
            <fa-icon class="bi-file-earmark-arrow-down iconColor"></fa-icon> <span class="iconColor">Kết xuất</span>
          </button>
          <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="deleteCondition()">
            <fa-icon class="bi-trash iconColor"></fa-icon>
            <span class="iconColor">Xóa tìm kiếm</span>
          </button>
          <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" routerLink="" >
            <fa-icon class="bi-box-arrow-left iconColor"></fa-icon>
            <span class="iconColor">Thoát</span>
          </button>
        </div>
        </div>
        <br>
        </div>
        </div>
      <br>

        <div>
        <div style="background-color: white;padding-top: 1.5rem !important;">
          <table class="table-space" aria-describedby="user-management-page-heading"  border="0">
            <tr>
              <td [style.width.%]="1"></td>
              <td [style.width.%]="98">
                <h5 class="title"><fa-icon class="bi bi-folder2"></fa-icon>&nbsp;Kết quả tìm kiếm</h5>
                <hr>
              </td>
              <td [style.width.%]="1"></td>
            </tr>
          </table>

    <div class="table-responsive text-nowrap me-3 ms-3" *ngIf="ExPrItem?.length > 0">
      <table [style.width.%]="120" class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)" id="table-data">
        <thead>
          <tr>
            <th scope="col" class="text-center" [style.width.%]="4">STT</th>
            <th scope="col" class="text-center" [style.width.%]="15"><span>Tên hoạt động</span> </th>
            <th scope="col" class="text-center" [style.width.%]="10"><span>Cơ quan đại diện</span></th>
            <th scope="col" class="text-center" [style.width.%]="8">
              <span>Quốc gia tổ chức</span> 
            </th>
            <th scope="col" class="text-center" [style.width.%]="8">
              <span>Hình thức</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="8">
              <span>Thời gian</span> 
            </th>
            <th scope="col" class="text-center" [style.width.%]="15">
              <span>Địa điểm</span> 
            </th>
            <th scope="col" class="text-center" [style.width.%]="14">
              <span>Ghi chú</span>  
            </th>
            <th scope="col" class="text-center" [style.width.%]="5">
              <span>Người tạo</span>  
            </th>
            <th scope="col" class="text-center" [style.width.%]="5"><span>Thao tác</span></th>
          </tr>
        </thead>
        <tbody *ngIf="ExPrItem">
          <tr *ngFor="let item of ExPrItem | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage | myFilter :filter;">
            <td class="text-center">{{ExPrItem.indexOf(item)+1}}
            </td>
            <td class="text-col">{{ item.tenHD }}</td>
            <td class="text-col">{{ item.coQuan }}</td>
            <td class="text-col">{{ item.quocGia }}</td>
            <td class="text-col">{{ item.hinhThuc }}</td>
            <td class="text-center text-col">{{ item.thoiGian}}</td>
            <td class="text-col">{{ item.diaDiem }}</td>
            <td class="text-col">{{ item.ghiChu }}</td>
            <td class="text-col">{{ item.createdBy }}</td>
            <td class="text-center">
              <button type="submit" class="view" [routerLink]="['./view', item.id]">
                <i class="material-icons view">visibility</i>
              </button>
              <button type="submit" *ngIf="checkAuth" class="edit" (click)="EditHDNG(item)" queryParamsHandling="merge">
                <i class="material-icons edit">edit</i>
              </button>
              <button type="button"*ngIf="checkAuth" class="delete" (click)="deleteHDNG(item)">
                <i class="material-icons delete">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="ExPrItem?.length > 0">
      <div class="row me-2 ms-2 pt-1">
          <div class="col-4 pt-2">
              <h6><i><jhi-item-count [params]="{ nameModule: nameModule, totalItems: totalItems }"></jhi-item-count></i></h6>
          </div>
          <div class="col-4 d-flex justify-content-center">
              <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                  [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                  (pageChange)="transition()"></ngb-pagination>
          </div>
          <div class="col-4 d-flex justify-content-end pt-2">
              <h6><i>Trang {{page}} / {{totalPage}}</i></h6>
          </div>
      </div>
    </div>
    <div class="mt-2 divBGColor" *ngIf="ExPrItem?.length <= 0">
      <br><br><br>
      <div class="text-center">
          <h5 style="font-weight: bold;">Không tìm thấy bản ghi thỏa mãn điều kiện!</h5>
      </div>
      <br><br><br>
    </div>
  </div>
</div>
<app-alert></app-alert>