.table-space tr{
  height: 50px;
}


.colButton {
  text-align: center;
}

button.edit{
  border-style: none;
}
button.view{
  border-style: none;
}
button.delete{
  border-style: none;
}

i.download {
  color: green;
}
i.edit {
  color: orange;
}
i.view {
  color: blue;
}
i.delete {
  color: red;
}

table.table td.vertical {
  vertical-align: middle;
}

.table-space tr{
  height: 50px;
}

.material-icons {
  width: 16px;
  font-size: 22px;
}
.bi {
  margin: 0 0px !important;
}

.text-col{
  white-space: pre-line;
}

table.table tr td button i{
  vertical-align: middle !important;;
}

table.table th{
  vertical-align: middle !important;
}

.table-striped{
  vertical-align: middle
}

.bntStyle {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  z-index: 1000;
  background-color: #fff;
}


// table tbody tr td:first-child {
//   position: sticky;
//   position: -webkit-sticky;
//   left: -2px;
//   margin-right: 8px;
//   z-index: 1000;
//   border-right: 1px solid #ced4da !important;
// }
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: white !important;
  //border-color: black !important;
}

// ::ng-deep ul > li.disabled > span {
//   background-color: brown !important;
//   border-color: black !important;
// }

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #1A4792 !important;
  border-color: #1A4792  !important;
}
ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}

.select-all{
  margin: 5px 17px;
}

