<div>

  <div style="background-color: white;padding-top: 1.5rem !important;;">
    <form name="form" role="form">
      <div>
        <table [style.width.%]="100" class="table-space" border="0">

          <tr>
            <td [style.width.%]="1">

            </td>
            <td colspan="2" style="border-bottom: 1px dashed #D3D3D3">
              <h5 class="title"><fa-icon class="bi bi-search"></fa-icon>&nbsp;<b>Tìm kiếm Việt Nam</b></h5>
            </td>
            <td [style.width.%]="2" style="text-align: right;border-bottom: 1px dashed #D3D3D3">
            </td>
            <td [style.width.%]="2"
              style="text-align: right;border-left: 1px dashed #D3D3D3;border-bottom: 1px dashed #D3D3D3">

            </td>
            <td colspan="2" style="border-bottom: 1px dashed #D3D3D3" class="formGroup">
              <h5 class="title"><fa-icon class="bi bi-search"></fa-icon>&nbsp;<b>Tìm kiếm khách</b></h5>
            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr [style.height.px]="20">
            <td [style.width.%]="1">

            </td>
            <td colspan="2">

            </td>
            <td [style.width.%]="2">
            </td>
            <td [style.width.%]="2" style="text-align: right;border-left: 1px dashed #D3D3D3;">

            </td>
            <td colspan="2">

            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Lãnh đạo tiếp khách</h6>
            </td>
            <td [style.width.%]="35">
              <input class="form-control inputBorder" type="text" [(ngModel)]="fields.lanhDao" name="lanhDao"
                id="lanhDao" [ngModelOptions]="{standalone: true}">
            </td>
            <td [style.width.%]="2">
            </td>
            <td [style.width.%]="2" style="text-align: right;border-left: 1px dashed #D3D3D3;">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">

            </td>
            <td [style.width.%]="35">
            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Chức vụ</h6>
            </td>
            <td [style.width.%]="35">
              <div class="input-group">
                <mat-select #select multiple class="form-control inputBorder" style="background-color: #fff; overflow: hidden; width: 540px;" name="chucVu"
                  [(ngModel)]="selectedValue" id="chucVu" panelClass="mySelectedPanel">
                  <!-- <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()" >Tất cả</mat-checkbox>
                  </div> -->
                  <mat-option  value="Tất cả" (click)="unCheckOrthers()">Tất cả</mat-option>
                  <mat-option (click)="optionClick()" value="">Chức vụ trống </mat-option>
                  <mat-option (click)="optionClick()" *ngFor="let item of chucVu" [value]="item">{{ item }}</mat-option>  <!--(click)="optionClick()"  -->
                </mat-select>
              </div>
            </td>
            <td [style.width.%]="2">
            </td>
            <td style="text-align: right;border-left: 1px dashed #D3D3D3;">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Tên đoàn khách</h6>
            </td>
            <td [style.width.%]="35">
              <div class="col d-flex justify-content-start"><input class="form-control inputBorder" type="text"
                  [(ngModel)]="fields.doanKhach" name="doanKhach" id="doanKhach" [ngModelOptions]="{standalone: true}">
              </div>
            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Địa điểm</h6>
            </td>
            <td [style.width.%]="35">
              <input class="form-control inputBorder" type="text" [(ngModel)]="fields.diaDiem" name="diaDiem"
                id="diaDiem" [ngModelOptions]="{standalone: true}">
            </td>
            <td>
            </td>
            <td [style.width.%]="2" style="text-align: right;border-left: 1px dashed #D3D3D3;">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Quốc gia</h6>
            </td>
            <td [style.width.%]="35">
              <div class="input-group">
                <select class="form-select inputBorder" style="background-color: #fff" name="quocGia"
                  [(ngModel)]="fields.quocGia" id="quocGia">
                  <option [value]="null">Tất cả</option>
                  <option *ngFor="let item of quocGia" [value]="item.ten">{{ item.ten }}</option>
                </select>
                <!-- <mat-select class="form-control inputBorder" style="background-color: #fff" name="quocGia"
                  [(ngModel)]="fields.quocGia" id="quocGia" panelClass="mySelectedPanel">
                  <mat-option value="" default>Tất cả</mat-option>
                  <mat-option *ngFor="let item of quocGia" [value]="item.ten">{{ item.ten }}</mat-option>
                </mat-select> -->
              </div>
            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Năm</h6>
            </td>
            <td [style.width.%]="35">
              <div class="col d-flex justify-content-start"><input class="form-control inputBorder" type="text"
                  [(ngModel)]="fields.nam" name="nam" id="nam" [ngModelOptions]="{standalone: true}"></div>
            </td>
            <td [style.width.%]="2">
            </td>
            <td style="text-align: right;border-left: 1px dashed #D3D3D3;">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">

            </td>
            <td [style.width.%]="35">

            </td>
            <td [style.width.%]="1">
            </td>
          </tr>
          <tr>
            <td [style.width.%]="1">
            </td>
            <td [style.width.%]="12" class="col-sm-2 text-nowrap">
              <h6>Thời gian tiếp khách</h6>
            </td>
            <td [style.width.%]="35">
              <div class="input-group">
                <input class="form-control inputBorder" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                  id="thoiGianTu" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false }"
                  [(ngModel)]="fields.thoiGianTu" name="thoiGianTu" (change)="isInvalidDate1($event);" maxlength="10"
                  [ngModelOptions]="{standalone: true}" />

                <input class="form-control inputBorder" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                  id="thoiGianDen" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false }"
                  [(ngModel)]="fields.thoiGianDen" (change)="isInvalidDate2($event);" name="thoiGianDen" maxlength="10"
                  [ngModelOptions]="{standalone: true}" />
              </div>

            </td>
            <td [style.width.%]="2">
            </td>
            <td [style.width.%]="2" style="text-align: right;border-left: 1px dashed #D3D3D3;">
            </td>
            <td [style.width.%]="12"></td>
            <td [style.width.%]="35">
            </td>
            <td [style.width.%]="1"></td>
          </tr>
        </table>
      </div>
    </form>
    <br>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="search()">
        <fa-icon class="iconColor" icon="search"></fa-icon>
        <span class="iconColor">Tìm kiếm</span>
      </button>
      <button *ngIf="checkAuth" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder"
        [routerLink]="['./new']">
        <fa-icon class="iconColor" icon="plus"></fa-icon> <span class="iconColor">Thêm mới</span>
      </button>
      <button type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataPrint()">
        <fa-icon class="bi-printer iconColor"></fa-icon> <span class="iconColor">In báo cáo</span>
      </button>
      <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataExport()">
        <fa-icon class="bi-file-earmark-arrow-down iconColor"></fa-icon> <span class="iconColor">Kết xuất</span>
      </button>
      <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="deleteCondition()">
        <fa-icon class="bi-trash iconColor"></fa-icon>
        <span class="iconColor">Xóa tìm kiếm</span>
      </button>
      <button class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" routerLink="">
        <fa-icon class="bi-box-arrow-left iconColor"></fa-icon>
        <span class="iconColor">Thoát</span>
      </button>
    </div>
    <br>
  </div>
  <br>
  <div style="background-color: white;padding-top: 1.5rem !important;">
    <table [style.width.%]="100" class="table-space" border="0">
      <tr>
        <td [style.width.%]="1"></td>
        <td [style.width.%]="98">
          <h5 class="title"><fa-icon class="bi bi-folder2"></fa-icon>&nbsp;Kết quả tìm kiếm</h5>
          <hr>
        </td>
        <td [style.width.%]="1"></td>
      </tr>
    </table>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive text-nowrap me-3 ms-3" *ngIf="ExPrItem?.length > 0" (scroll)="onScroll($event)">
      <table [style.width.%]="100" class="table table-bordered table-striped"
        style="border: rgb(199, 199, 199) 1px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)" id="table-data">
        <thead>
          <tr>
            <th scope="col" class="text-center" [style.width.%]="4"><span>STT</span></th>
            <th scope="col" class="text-center" [style.width.%]="12"><span>Lãnh đạo tiếp khách</span> </th>
            <th scope="col" class="text-center" [style.width.%]="13"><span>Chức vụ</span> </th>
            <th scope="col" class="text-center" [style.width.%]="12"><span>Tên đoàn khách</span></th>
            <th scope="col" class="text-center" [style.width.%]="6">
              <span>Quốc gia</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="14">
              <span>Địa điểm</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="10">
              <span>Hình thức tiếp khách</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="10">
              <span>Thời gian tiếp khách</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="5">
              <span>Người tạo</span>
            </th>
            <th scope="col" class="text-center" [style.width.%]="5"><span>Thao tác</span></th>
          </tr>
        </thead>
        <tbody *ngIf="ExPrItem">
          <tr
            *ngFor="let item of ExPrItem | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage; let i = index">
            <td scope="col" class="text-center" [ngClass]="{'bntStyle': isEvent}">{{ExPrItem.indexOf(item)+1}}
            </td>
            <td scope="col" class="text-col">{{ item.lanhDao }}</td>
            <td class="text-col">{{ item.chucVu }}</td>
            <td class="text-col">{{ item.doanKhach }}</td>
            <td scope="col">{{ item.quocGia }}</td>
            <td class="text-col">{{ item.diaDiem }}</td>
            <td class="text-col">{{ item.hinhThuc }}</td>
            <td scope="col" class="text-center ">
              <span *ngIf="(item.thoiGianTu != '') && (item.thoiGianDen != '')">
                {{ item.thoiGianTu }} - {{ item.thoiGianDen}}
              </span>
              <span *ngIf="(item.thoiGianTu == '') && (item.thoiGianDen == '')">
                
              </span>
            </td>
            <td class="text-col">{{ item.createdBy }}</td>
            <td scope="col" class="text-center">
              <button type="submit" class="view" [routerLink]="['./view', item.id]">
                <i class="material-icons view">visibility</i>
              </button>
              <button *ngIf="checkAuth" type="submit" class="edit" (click)="editTKQT(item)" queryParamsHandling="merge">
                <i class="material-icons edit">edit</i>
              </button>
              <button *ngIf="checkAuth" type="button" class="delete" (click)="deleteTKQT(item)">
                <i class="material-icons delete">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="ExPrItem?.length > 0">
      <div class="row me-2 ms-2 pt-1">
        <div class="col-4 pt-2">
          <h6><i><jhi-item-count [params]="{ nameModule: nameModule, totalItems: totalItems }"></jhi-item-count></i>
          </h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
        <div class="col-4 d-flex justify-content-end pt-2">
          <h6><i>Trang {{page}} / {{totalPage}}</i></h6>
        </div>
      </div>
    </div>
    <div class="mt-2 divBGColor" *ngIf="ExPrItem?.length <= 0">
      <br><br><br>
      <div class="text-center">
        <h5 style="font-weight: bold;">Không tìm thấy bản ghi thỏa mãn điều kiện!</h5>
      </div>
      <br><br><br>
    </div>
  </div>
</div>

<app-alert></app-alert>