<div class="d-flex justify-content-center" style="height: 300px; margin-top: 15vh;">
        <form name="editForm" class="form" role="form" novalidate (ngSubmit)="save()" 
        [formGroup]="editForm" style="padding-bottom: 40px;">  


            <div class="col">
              <div class="row d-flex flex-column mb-4">
                  <label class="label mt-2 mb-1" style="width: 100%;">Mã nhóm <span class="text-danger">*</span></label>
                  <input 
                    type="text" 
                    class="input" 
                    name="maNhom" 
                    formControlName="maNhom" 
                  />
                  <div *ngIf="editForm.get('maNhom')!.invalid && (editForm.get('maNhom')!.dirty || editForm.get('maNhom')!.touched)">
                      
                    <small class="form-text text-danger" *ngIf="editForm.get('maNhom')?.errors?.required" >
                      Trường này không được để trống.
                    </small>
                  </div>
              </div>
  
              <div class="row d-flex flex-column mb-4">
                <label class="label mt-2 mb-1" style="width: 100%;">Tên nhóm <span class="text-danger">*</span></label>
                  <input 
                    type="text" 
                    class="input" 
                    name="ten" 
                    formControlName="ten" 
                  />
          
                  <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
                  
                    <small class="form-text text-danger" *ngIf="editForm.get('ten')?.errors?.required" >
                      Trường này không được để trống.
                    </small>
                  </div>
              </div>
  
              <!-- <div class="input-wrapper mr">
                  <div class="c3"  >Tình trạng</div>
                  <select 
                    style="width: 30%;"
                    class="input-container" 
                    name="tinhtrang" 
                    formControlName="tinhTrang" 
                  >
                    <option [ngValue]="true">Hiệu lực</option>
                    <option [ngValue]="false">Hết hiệu lực</option>
                  </select>
              </div> -->
  
              <div class="d-flex justify-content-end" style="margin-right: 190px;">
                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder">
                  <fa-icon class="bi bi-floppy iconColor"></fa-icon>
                    <span class="iconColor">Lưu</span>
                </button>
        
                <button type="button" class="btn btn-primary jh-create-entity iconBG buttonborder" (click)="previousState()">
                  <fa-icon class="bi bi-box-arrow-left iconColor"></fa-icon>
                  <span class="iconColor">Quay lại</span>
                </button>
              </div>
  
            </div>
        </form>
    </div>
    <app-alert></app-alert>