<div class="modal-conten p-3">
    <div class="modal-header">
      <h4 class="modal-title">Đổi mật khẩu</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="col-12 mb-3 pw-form">
          <label for="orgName" class="form-label fw-bold pw-label">Mật khẩu hiện tại <span class="text-danger">*</span></label>
          <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập mật khẩu hiện tại" />
        </div>
        <div class="col-12 mb-3 pw-form">
          <label for="orgName" class="form-label fw-bold pw-label">Mật khẩu mới <span class="text-danger">*</span></label>
          <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập mật khẩu mới" />
        </div>
        <div class="col-12 mb-3 pw-form">
          <label for="orgName" class="form-label fw-bold pw-label">Nhập lại mật khẩu mới <span class="text-danger">*</span></label>
          <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập lại mật khẩu" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-lg btn-pw" (click)="save()">Đổi mật khẩu</button>
      <button type="button" class="btn btn-lg btn-quit-pw" (click)="dismiss()">Thoát</button>
    </div>
    <div style="border: 1px solid #797979;"></div>
    <p class="mt-2"><b>Quy định về mật khẩu</b></p>
          <ol>
            <li>Không chứa tên account của người dùng, hoặc 1 phần tên đầy đủ(họ, tên đệm hoặc tên) có độ dài hơn 3 ký tự</li>
            <li>Chứa ít nhất 12 ký tự</li>
            <li>Chứa các ký tự thuộc tối thiểu 3 nhóm trong danh sách 4 nhóm sau:
              <ol type="a">
                <li>Ký tự tiếng Anh viết hoa (A - Z)</li>
                <li>Ký tự tiếng Anh viết thường (a -z)</li>
                <li>Ký tự số (0-9)</li>
                <li>Ký tự khác (ví dụ : ` ~ ! @ # $ % ^ & * ( ) _ + - = &#10100; &#10101; | " ; ' &lt; &gt; ? , . /)</li>
              </ol>
            </li>
          </ol> 
  </div>
  