<div>
    <div class="divBGColor">
      <div class="pt-4 me-3 ms-3">
        <div class="col-md-8">
          <h5 class="title"><fa-icon class="bi bi-search"></fa-icon>&nbsp;Điều kiện tìm kiếm</h5>
        </div>
      </div>
      <hr class="me-3 ms-3">
      <br>
      <div class="me-3 ms-3">
        <form name="form" role="form">
          <div class="row">
            <div class="col-2">
              <h6 class="form-label pt-2">Tên sản phẩm</h6>
            </div>
            <div class="col-4">
              <input class="form-control inputBorder" type="text" [(ngModel)]="fields.tenSp" name="tenSp">
            </div>
            <div class="col-2">
              <h6 class="form-label pt-2">Thương hiệu</h6>
            </div>
            <div class="col-4">
              <select class="form-select inputBorder" style="background-color: white;" name="thuongHieu"
                  id="thuongHieu" [(ngModel)]="fields.thuongHieu">
                  <option value="" default>Tất cả</option>
                  <option *ngFor="let obj of brands" [ngValue]="obj.thuongHieu">{{ obj.thuongHieu }}</option>
              </select>
          </div>
          </div>
        </form>
      </div>
  
      <div class="d-flex justify-content-end me-3 ms-3 mt-4">
        
        <button style="background-color: #1A4792;" type="button" class="btn btn-info me-3 buttonborder"
          (click)="updateFilters()">
          <fa-icon style="color:white;" icon="search"></fa-icon>
          <span style="color:white;">Tìm kiếm</span>
        </button>
        <button *ngIf="checkAuth" style="background-color: #1A4792;" type="button" class="btn btn-primary me-3 buttonborder"
          [routerLink]="['./new']">
          <fa-icon style="color:white;" icon="plus"></fa-icon> <span style="color:white;">Thêm mới</span>
        </button>
        <button class="btn btn-info iconBG buttonborder" routerLink="" >
          <fa-icon class="iconColor" icon="arrow-left"></fa-icon> 
          <span class="iconColor">Thoát</span>
      </button>
      </div>
      &nbsp;
    </div>
    <div class="divBGColor mt-2" *ngIf="SearchItems?.length > 0">
      <div class="me-3 ms-3 pt-1">
        <div class="col-md-8 mt-4">
          <h5 class="title"><fa-icon class="bi bi-folder2"></fa-icon>&nbsp;Kết quả tìm kiếm</h5>
        </div>
      </div>
      <hr class="me-3 ms-3">
      <div class="table-responsive me-3 ms-3 mt-2" *ngIf="products">
        <table class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px;">
          <thead style="color: aliceblue; background-color: #1A4792;">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
              <th scope="col" class="text-center"><span>STT</span></th>
              <th scope="col" class="text-center"><span>Tên sản phẩm</span></th>
              <th scope="col" class="text-center"><span>Thương hiệu</span></th>
              <th scope="col" class="text-center"><span>Màu</span></th>
              <th scope="col" class="text-center"><span>Dung lượng</span></th>
              <th scope="col" class="text-center"><span>Số lượng</span></th>
              <th scope="col" class="text-center"><span>Giá</span></th>
              <th scope="col" class="text-center"><span>Thao tác</span></th>
            </tr>
          </thead>
          <tbody *ngIf="products">
            <tr
              *ngFor="let item of products | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage | myFilter :filter; ">
              <td class="text-center align-middle"></td>
              <td class="align-middle">{{item.tenSp}}</td>
              <td class="align-middle">{{item.thuongHieu}}</td>
              <td class="align-middle" style="display: flex; justify-content: center;"><div style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #000;" [style.background-color]="item.maMau"></div></td>
              <td class="align-middle">{{item.dungLuong}}</td>
              <td class="align-middle">{{item.soLuong}}</td>
              <td class="align-middle">{{item.giaThanh}}</td>
              <td class="text-center">
                <div class="btn-group">
                  <button *ngIf="checkAuth" type="submit" [routerLink]="['./editProduct' , item.id]" queryParamsHandling="merge" class="edit">
                    <i class="material-icons edit">edit</i>
                  </button>
                  &nbsp;
                  <button *ngIf="checkAuth" type="button" class="delete" (click)="deleteObj(item)">
                    <i class="material-icons delete">&#xE872;</i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div *ngIf="products">
        <div class="row me-2 ms-2 pt-1">
          <div class="col-4 pt-2">
            <h6><i><jhi-item-count [params]="{ nameModule: nameModule, totalItems: totalItems }"></jhi-item-count></i>
            </h6>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
          </div>
          <div class="col-4 d-flex justify-content-end pt-2">
            <h6><i>Trang {{page}} / {{totalPage}}</i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 divBGColor" *ngIf="SearchItems?.length <= 0">
      <br><br><br>
      <div class="text-center">
          <h5 style="font-weight: bold;">Không tìm thấy bản ghi thỏa mãn điều kiện!</h5>
      </div>
      <br><br><br>
  </div>
  </div>
  <app-alert></app-alert>