@import "~bootstrap-icons/font/bootstrap-icons.css";
.iconColor {
    color: white;
}
.iconBG {
    background-color: #1A4792;
}
.divBGColor {
    background-color: white;
}
.navBGColor {
    background-color: #1A4792; 
    color: white;
}
.textColor {
    color: #1A4792;
}
.thAlign {
    text-align: center;
}
// table {
//     counter-reset: rowNumber - 1;
//   }

//   table tr {
//     counter-increment: rowNumber;
//   }
  
//   table tr td:first-child::before {
//     content: counter(rowNumber);
//     min-width: 1em;
//   }
  .title{
    color: #1A4792;
    font-size: 22px;
    font-weight: bold;
  
    .bi-search {
      font-weight: bolder;
    }
  }

  .col-1-5 {
    flex: 0 0 9.5%;
    max-width: 9.5%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-3-5 {
  flex: 0 0 40.5%;
  max-width: 40.5%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.inputBorder {
  border-radius: 10px;
}
.buttonborder {
  border-radius: 7px;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: white !important;
  //border-color: black !important;
}

// ::ng-deep ul > li.disabled > span {
//   background-color: brown !important;
//   border-color: black !important;
// }

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #1A4792 !important;
  border-color: #1A4792  !important;
}
ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #1A4792;
}
.text-custom {
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-col{
  white-space: pre-line;
}
