<div>
    <div class="divBGColor">
        <div class="pt-4 me-3 ms-3">
            <div class="col-md-8">
                <h5 class="title"><fa-icon class="bi bi-search"></fa-icon>&nbsp;Điều kiện tìm kiếm</h5>
            </div>
        </div>
        <hr class="me-3 ms-3">
        <div class="me-3 ms-3">
            <form name="form" role="form">
                <div class="row">
                    <div class="col-1-5 pt-2 text-nowrap">
                        <h6>Họ và tên</h6>
                    </div>
                    <div class="col-3-5">
                        <input class="form-control inputBorder" type="text" [(ngModel)]="fields.hoTen" name="hoTen">
                    </div>
                    <div class="col-1-5 pt-2 text-nowrap">
                        <h6>CCCD</h6>
                    </div>
                    <div class="col-3-5">
                        <input class="form-control inputBorder" type="text" [(ngModel)]="fields.cmndSo" name="cmndSo">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1-5 pt-2 text-nowrap">
                        <h6>Số hộ chiếu</h6>
                    </div>
                    <div class="col-3-5">
                        <input class="form-control inputBorder" type="text" [(ngModel)]="fields.soHC" name="soHC">
                    </div>
                    <div class="col-1-5 pt-2 text-nowrap">
                        <h6>Trạng thái</h6>
                    </div>
                    <div class="col-3-5 ">
                        <select class="form-select inputBorder" style="background-color: white;" name="trangThai" id="trangThai"
                            [(ngModel)]="fields.trangThai">
                            <option [value]="null" default>Tất cả</option>
                            <option value="0">Còn hạn</option>
                            <option value="1">Sắp hết hạn</option>
                            <option value="2">Đã hết hạn</option>
                        </select>
                    </div>
                </div>
                <br>
            </form>
        </div>

        <div class="d-flex justify-content-end me-3 ms-3">
            <button type="button" class="btn btn-info me-3 iconBG buttonborder" (click)="search()">
                <fa-icon class="iconColor" icon="search"></fa-icon>
                <span class="iconColor">Tìm kiếm</span>
            </button>
            <button type="button" *ngIf="checkAuth" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" [routerLink]="['./newHChieuNG']">
                <fa-icon class="iconColor" icon="plus"></fa-icon> <span class="iconColor">Thêm mới</span>
            </button>
            <button type="button" (click)="loadDataPrint()" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder">
                <fa-icon class="bi bi-printer iconColor"></fa-icon> <span class="iconColor">In báo cáo</span>
            </button>
            <button type="button" (click)="loadDataExport()" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder">
                <fa-icon class="bi bi-file-earmark-arrow-down iconColor"></fa-icon> <span class="iconColor">Kết xuất</span>
            </button>
            <button type="button" (click)="deleteCondition()" class="btn btn-info me-3 iconBG buttonborder">
                <fa-icon class="iconColor" icon="sync"></fa-icon>
                <span class="iconColor">Xóa tìm kiếm</span>
            </button>
            <button class="btn btn-info iconBG buttonborder" routerLink="" >
                <fa-icon class="iconColor" icon="arrow-left"></fa-icon> 
                <span class="iconColor">Thoát</span>
            </button>
        </div>
        <br>
    </div>

    <div class="mt-2 divBGColor">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="color: green; font-weight: bold;">{{ConHan}}</h4>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="color: orange; font-weight: bold;">{{SapHetHan}}</h4>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="color: red; font-weight: bold;">{{HetHan}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="font-weight: bold;">Còn hạn</h4>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="font-weight: bold;">Sắp hết hạn</h4>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <h4 style="font-weight: bold;">Đã hết hạn</h4>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="mt-2 divBGColor" *ngIf="!checkLoadList">
        <div class="me-3 ms-3 pt-1">
            <div class="col-md-8 mt-4">
                <h5 class="title"><fa-icon class="bi bi-folder2"></fa-icon>&nbsp;Kết quả tìm kiếm</h5>
            </div>
        </div>
        <hr class="me-3 ms-3">
        <div class="table-responsive me-3 ms-3" *ngIf="ExPrItem">
            <table [style.width.%]="140" class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);" id="table-data">
                <thead class="navBGColor text-nowrap" >
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()"
                        class="thAlign">
                        <th scope="col" class="text-center" [style.width.%]="1"><span>STT</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Số hộ chiếu</span></th>
                        <th scope="col" class="text-center" [style.width.%]="6"><span>Họ và tên</span></th>
                        <th scope="col" class="text-center" [style.width.%]="2"><span>Giới tính</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>CCCD</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Ngày sinh</span></th>
                        <th scope="col" class="text-center" [style.width.%]="6"><span>Chức vụ</span></th>
                        <th scope="col" class="text-center" [style.width.%]="6"><span>Cơ quan</span></th>                      
                        <th scope="col" class="text-center" [style.width.%]="6"><span>Loại hộ chiếu</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Ngày cấp</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Ngày hết hạn</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Thời gian còn lại</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Trạng thái</span></th>
                        <th scope="col" class="text-center" [style.width.%]="3"><span>Người tạo</span></th>
                        <th scope="col" class="text-center" [style.width.%]="2"><span>Thao tác</span></th>
                    </tr>
                </thead>
                <tbody *ngIf="ExPrItem">
                    <tr *ngFor="let hchieu of ExPrItem | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage; let i = index">
                        <td class="text-center align-middle"> {{ExPrItem.indexOf(hchieu)+1}}</td>
                        <td class="text-center align-middle">{{ hchieu.soHC }}</td>
                        <td class="align-middle text-col">{{ hchieu.hoTen }}</td>
                        <td class="text-center align-middle">{{ hchieu.gioiTinh }}</td>
                        <td class="text-center align-middle">{{ hchieu.cmndSo == 'null' ? "" : hchieu.cmndSo}}</td>
                        <td class="text-center align-middle">{{ hchieu.ngaySinh }}</td>
                        <td class="align-middle">{{ hchieu.chucVu == 'null' ? "" : hchieu.chucVu}}</td>
                        <td class="align-middle">{{ hchieu.coQuan == 'null' ? "" : hchieu.coQuan}}</td>              
                        <td class="align-middle">{{ hchieu.loaiHC }}</td>
                        <td class="text-center align-middle">{{ hchieu.cmndNgayCap }}</td>
                        <td class="text-center align-middle">{{ hchieu.cmndNgayHL }}</td>
                        <td class="text-center align-middle">{{ hchieu.tGianHetHan }} ngày</td>
                        <td class="text-center align-middle">
                            <b style="color: green;" *ngIf="hchieu.trangThai == '0'">
                                Còn hạn
                            </b>
                            <b style="color: orange;" *ngIf="hchieu.trangThai == '1'">
                                Sắp hết hạn
                            </b>
                            <b style="color: red;" *ngIf="hchieu.trangThai == '2'">
                                Đã hết hạn
                            </b>
                        </td>
                        <td class="text-center align-middle">{{ hchieu.createdBy }}</td>
                        <td class="text-center align-middle">
                            <div class="btn-group">
                                <button type="button" [routerLink]="['./view' , hchieu.soHC]" class="view">
                                    <i class="material-icons view">visibility</i>
                                </button>
                                &nbsp;
                                <button type="button" *ngIf="checkAuth" (click)="editHCNG(hchieu)" queryParamsHandling="merge" class="edit">
                                    <i class="material-icons edit">edit</i>
                                </button>
                                &nbsp;
                                <button type="button" *ngIf="checkAuth" (click)="deleteHCNG(hchieu)" class="delete">
                                    <i class="material-icons delete">&#xE872;</i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="ExPrItem">
            <div class="row me-2 ms-2 pt-1">
                <div class="col-4 pt-2">
                    <h6><i><jhi-item-count [params]="{ nameModule: nameModule, totalItems: totalItems }"></jhi-item-count></i></h6>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="transition()"></ngb-pagination>
                </div>
                <div class="col-4 d-flex justify-content-end pt-2">
                    <h6><i>Trang {{page}} / {{totalPage}}</i></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 divBGColor" *ngIf="checkLoadList">
        <br><br><br>
        <div class="text-center">
            <h5 style="font-weight: bold;">Không tìm thấy bản ghi thỏa mãn điều kiện!</h5>
        </div>
        <br><br><br>
    </div>

</div>
<app-alert></app-alert>