<div class="modal-conten p-3">
  <div class="modal-header">
    <h4 class="modal-title">Đổi mật khẩu chứng thư số</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="col-12 mb-3">
        <label for="orgName" class="form-label fw-bold">Tài khoản <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập tên đăng nhập" />
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-0000A6 me-3" (click)="dismiss()">Reset</button>
    <button type="button" class="btn btn-lg btn-0000A6" (click)="opentModalChangePassword()">Đổi mật khẩu</button>
  </div>
</div>
