<div style="margin-bottom: 1%;">
    <form name="createForm" action="" style="background-color: white;">
        <div class="row me-3 ms-3" role="form">
            <div class="col-sm-2 align-self-center">
                <h6 class="m-2">Số hộ chiếu <span class="text-danger">*</span></h6>
            </div>
            <div class="col-sm-8" style="padding-left: 2%;">
                <input class="form-control m-2" type="text" [attr.disabled]="true">
            </div>
            <div class="col-sm-2 align-self-center" style="text-align: center;">
                <button class="btn btn-primary jh-create-entity" style="width: 70%; color: white; background-color: #1A4792 ;" [attr.disabled]="true">
                    <span>Kiểm tra</span>
                </button>
            </div>
        </div>
    </form>
</div>
<form name="createForm" action="" style="background-color: white;" *ngIf="quanLyTV">
    <!-- <h4 style="background-color: #1A4792; color: white;"><b>Thêm mới hồ sơ đoàn vào</b></h4> -->
    <div class="row me-3 ms-3">
        <div class="col-sm-9 custom-wrapper">
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6 class="m-2">STT trong đoàn</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="quanLyTV.soTT"
                        [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6 class="m-2">Họ tên <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="quanLyTV.hoTen"
                        [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6 class="m-2">Họ tên phiên âm tiếng việt</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" [(ngModel)]="quanLyTV.hoTenPA"
                        [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6 class="m-2">Giới tính </h6>
                </div>
                <div class="col-sm-3">
                    <input *ngIf="quanLyTV.gioiTinh == null" class="form-control" type="text" value="" [attr.disabled]="true">
                    <input *ngIf="quanLyTV.gioiTinh == true" class="form-control" type="text" value="Nam" [attr.disabled]="true">
                    <input *ngIf="quanLyTV.gioiTinh == false" class="form-control" type="text" value="Nữ" [attr.disabled]="true">
                </div>
                <div class="col-sm-2">
                    <h6 class="m-2">Ngày sinh </h6>
                </div>
                <div class="col-sm-4">
                    <div class="w-30 input-group">
                        <input class="form-control" type="text" [(ngModel)]="quanLyTV.ngaySinh"
                            [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                        <!-- <span class="input-group-text">
                            <span class="bi bi-calendar" (click)="dp1.toggle()"></span>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-2" style="align-self: self-end; margin-left: 2%;">
            <div class="d-flex justify-content-center" style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img *ngIf="imageUrl != null" [src]=imageUrl style="max-width: 100%; height: 223px;">
                <img *ngIf="imageUrl == null" style="max-width: 100%; height: 223px;">
            </div>
            <div *ngIf="imageUrl != null" class="d-flex justify-content-center">
                <button type="button" class="btn w-100"
                    style="background-color: #70B603; color: white;" (click)="downloadFile(idAnh, 'AnhHC_' + quanLyTV.maTV +'.jpg')">
                    Tải tệp tin
                </button>
            </div>
        </div>

        <br>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Quốc gia <span class="text-danger">*</span></h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.quocGia"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Cơ quan</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.coQuan" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Chức vụ</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.chucVu" [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Số hộ chiếu</h6>
        </div>
        <div class="col-sm-2" style="padding-left: 3%;">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.soHoChieu"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
        <div class="col-sm-2" style="padding-left: 5%;">
            <h6 class="m-2">Ngày cấp</h6>
        </div>
        <div class="col-sm-2">
            <div class=" input-group">
                <input class="form-control" type="text" placeholder="dd/mm/yyyy" [(ngModel)]="quanLyTV.hC_NgayCap"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                <!-- <span class="input-group-text">
                    <span class="bi bi-calendar" (click)="dp2.toggle()"></span>
                </span> -->
            </div>
        </div>
        <div class="col-sm-2" style="padding-left: 5%;">
            <h6 class="m-2">Ngày hết hạn</h6>
        </div>
        <div class="col-sm-2" style="padding-right: 3%;">
            <div class="w-30 input-group">
                <input class="form-control" type="text" placeholder="dd/mm/yyyy" [(ngModel)]="quanLyTV.hC_NgayHL"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                <!-- <span class="input-group-text">
                    <span class="bi bi-calendar" (click)="dp3.toggle()"></span>
                </span> -->
            </div>
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Loại hộ chiếu</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" style="width: 16%;" [(ngModel)]="quanLyTV.hC_Loai"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3" >
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Số thị thực</h6>
        </div>
        <div class="col-sm-2" style="padding-left: 3%;">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.hC_SoThiThuc"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <h6 class="m-2" style="padding-left: 16%;">Ngày cấp thị thực</h6>
        </div>
        <div class="col-sm-2" style="padding-right: 3%;">
            <div class="w-30 input-group">
                <input class="form-control" type="text" placeholder="dd/mm/yyyy" [(ngModel)]="quanLyTV.hC_NgayCapTT"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                <!-- <span class="input-group-text">
                    <span class="bi bi-calendar" (click)="dp4.toggle()"></span>
                </span> -->
            </div>
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Nơi lưu trú</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.noiLuuTru"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Ngày nhập cảnh</h6>
        </div>
        <div class="col-sm-2" style="padding-left: 3%;">
            <div class="w-30 input-group">
                <input class="form-control" type="text" placeholder="dd/mm/yyyy" [(ngModel)]="quanLyTV.ngayNC"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                <!-- <span class="input-group-text">
                    <span class="bi bi-calendar" (click)="dp5.toggle()"></span>
                </span> -->
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <h6 class="m-2" style="padding-left: 16%;">Ngày xuất cảnh</h6>
        </div>
        <div class="col-sm-2" style="padding-right: 3%;">
            <div class="w-30 input-group">
                <input class="form-control" type="text" placeholder="dd/mm/yyyy" [(ngModel)]="quanLyTV.ngayXC"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
                <!-- <span class="input-group-text">
                    <span class="bi bi-calendar" (click)="dp5.toggle()"></span>
                </span> -->
            </div>
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Tình trạng sức khoẻ</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.tinhTrangSK"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Tặng phẩm</h6>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="quanLyTV.tangPham"
            [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3" >
        <div class="col-sm-2 pl-2">
            <h6 class="m-2">Người tạo</h6>
        </div>
        <div class="col-sm-4" style="padding-left: 3%;">
            <input class="form-control" type="text" [(ngModel)]="nguoiLap"
                [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
        </div>
        
        <div class="col-sm-2">
            <h6 class="m-2" style="padding-left: 16%;">Người sửa</h6>
        </div>
        <div class="col-sm-4" style="padding-right: 3%;">
            <div class="w-30 input-group">
                <input class="form-control" type="text" [(ngModel)]="nguoiSua"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true"/>
            </div>
        </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2" style="font-weight: bold;">Hồ sơ đính kèm</h6>
        </div>
    </div>
    <div class="form-group row me-3 ms-3">
        <div class="col-sm-12" style="padding: 0% 2% 0% 2%;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center col-1">STT</th>
                    <th class="text-center col-10">Tên file</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody *ngFor="let d of quanLyTV.listTVFileVM">
                <tr>
                    <td class="text-center" style="font-weight: bold;">{{quanLyTV.listTVFileVM.indexOf(d)+1}}</td>
                    <td>{{d.fileName}}</td>
                    <td class="text-center"><a class="add" title="Add" data-toggle="tooltip"
                        (click)="downloadFile(d.id, d.fileName)"><i class="material-icons">file_download</i></a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <br>
    <div class="row me-3 ms-3">
        <div class="col-sm-2 pl-2">
            <h6 class="m-2" style="font-weight: bold;">Là thành viên của đoàn</h6>
        </div>
    </div>
    <div class="form-group row me-3 ms-3">
        <div class="col-sm-12" style="padding: 0% 2% 0% 2%;">
            <table class="table table-bordered">
                <thead>
                    <tr class="align-middle">
                        <th class="text-center" style="width: 4%;">STT</th>
                        <th class="text-center" style="width: 11%;">STT đoàn</th>
                        <th class="text-center">Tên đoàn</th>
                        <th class="text-center" style="width: 13%;">Quốc gia</th>
                        <th class="text-center" style="width: 10%;">Ngày nhập cảnh</th>
                        <th class="text-center" style="width: 10%;">Ngày xuất cảnh</th>
                        <th class="text-center">Số lượng thành viên</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" style="font-weight: bold;">1</td>
                        <td><input type="text" class="form-control text-center" [(ngModel)]="quanLyTV.dvHoSoVM.maDoan" 
                                [ngModelOptions]="{standalone: true}" [attr.disabled]="true"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="quanLyTV.dvHoSoVM.tenDoan" 
                            [ngModelOptions]="{standalone: true}" [attr.disabled]="true">
                        </td>
                        <td><input type="text" class="form-control text-center" [(ngModel)]="quanLyTV.dvHoSoVM.quocGia"
                                [ngModelOptions]="{standalone: true}" [attr.disabled]="true"></td>
                        <td><input type="text" class="form-control text-center" [(ngModel)]="quanLyTV.dvHoSoVM.ngayNC"
                                [ngModelOptions]="{standalone: true}" [attr.disabled]="true"></td>
                        <td><input type="text" class="form-control text-center" [(ngModel)]="quanLyTV.dvHoSoVM.ngayXC"
                                [ngModelOptions]="{standalone: true}" [attr.disabled]="true"></td>
                        <td><input type="text" class="form-control text-center" [(ngModel)]="quanLyTV.dvHoSoVM.soLuongTV"
                            [ngModelOptions]="{standalone: true}" [attr.disabled]="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-end p-3 me-3 ms-3">
        <div class="col-sm-12">
            <button class="btn btn-primary jh-create-entity me-2 iconBG buttonborder" (click)="print()">
                <fa-icon class="bi bi-printer iconColor"></fa-icon>
                <span  class="iconColor">In báo cáo</span>
              </button> 
            <button class="btn btn-primary jh-create-entity buttonborder" [routerLink]="['/doanVao/quanLyTV']">
                <fa-icon class="bi bi-box-arrow-left iconColor"></fa-icon>
                <span class="iconColor">Quay lại</span>
              </button>
        </div>
    </div>
</form>