<div>
    <form name="createForm" (ngSubmit)="createDV()" action="" style="background-color: white;" [formGroup]="createForm">
        <div class="p-4">
            <div class="row" role="form">
                <div class="col-sm-3">
                    <h6>STT đoàn</h6>
                </div>
                <div class="col-sm-9">
                    <input #maDoan class="form-control" type="text" name="maDoan" formControlName="maDoan" [(ngModel)]="maDoanRa" [attr.disabled]="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Tên đoàn <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="tenDoan" formControlName="tenDoan" [attr.disabled]="disableTextbox? true : null">
                    <div *ngIf="createForm.get('tenDoan')!.invalid && createForm.get('tenDoan')!.touched">
                        <small class="form-text text-danger" *ngIf="createForm.get('tenDoan')?.errors?.required">
                          Trường này không được để trống.
                        </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Trưởng đoàn <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="truongDoan" formControlName="truongDoan" [attr.disabled]="disableTextbox? true : null">
                    <div *ngIf="createForm.get('truongDoan')!.invalid && createForm.get('truongDoan')!.touched">
                        <small class="form-text text-danger" *ngIf="createForm.get('truongDoan')?.errors?.required">
                          Trường này không được để trống.
                        </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Quốc gia <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <select class="form-select" style="background-color: #fff" name="quocGia" formControlName="maQG" [attr.disabled]="disableTextbox? true : null" (change)="handleChange($event)">
                      <option value=null default >------- Chọn quốc gia -------</option>
                      <option *ngFor="let item of citems" [value]="item.maQG">{{ item.ten }}</option>
                    </select>
                    <div *ngIf="createForm.get('quocGia')!.invalid && createForm.get('quocGia')!.touched">
                        <small class="form-text text-danger" *ngIf="createForm.get('quocGia')?.errors?.required">
                          Trường này không được để trống.
                        </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Mục đích hoạt động <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="mucDichHD" formControlName="mucDichHD" [attr.disabled]="disableTextbox? true : null">
                    <div *ngIf="createForm.get('mucDichHD')!.invalid && createForm.get('mucDichHD')!.touched">
                        <small class="form-text text-danger" *ngIf="createForm.get('mucDichHD')?.errors?.required">
                          Trường này không được để trống.
                        </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Ngày nhập cảnh <span class="text-danger">*</span></h6>
                </div>
                <div class="col-sm-3">
                    <div class="w-30">
                        <input class="form-control" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" name="ngayNC" [(bsValue)]="ngayNCChange"
                            formControlName="ngayNC" id="ngayNC" (change)="isInvalidDateNgayNC($event)" (bsValueChange)="checkDateNgayNC($event)"
                            (keypress)=" numberOnlywithForwardSlash($event)" maxlength="10">
                            <div *ngIf="createForm.get('ngayNC')!.invalid && createForm.get('ngayNC')!.touched">
                                <small class="form-text text-danger" *ngIf="createForm.get('ngayNC')?.errors?.required">
                                  Trường này không được để trống.
                                </small>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 style="padding-left: 10%;">Ngày xuất cảnh</h6>
                </div>
                <div class="col-sm-3">
                    <div class="w-30 input-group">
                        <input class="form-control" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" name="ngayXC" [(bsValue)]="ngayXCChange"
                            formControlName="ngayXC" id="ngayXC" (change)="isInvalidDateNgayXC($event)" (bsValueChange)="checkDateNgayXC($event)"
                            (keypress)=" numberOnlywithForwardSlash($event)" maxlength="10">
                        <!-- <span class="input-group-text" *ngIf="isShowSideBar">
                            <span class="bi bi-calendar" (click)="dp2.toggle()"></span>
                        </span> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Số ngày lưu trú tại Việt Nam</h6>
                </div>
                <div class="col-sm-9">
                    <input style="width: 25%;" class="form-control" type="text" name="soNgay"
                        formControlName="soNgay" [(ngModel)]="countDate" [attr.disabled]="disableTextbox? true : null">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Nơi lưu trú</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="noiLuuTru" formControlName="noiLuuTru" [attr.disabled]="disableTextbox? true : null">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>An ninh chăm sóc sức khỏe</h6>
                </div>
                <div class="col-sm-9">
                    <p *ngFor="let d of anNinh">
                        <input
                          type="checkbox"
                          [checked]="d.checked"
                          (change)="d.checked = !d.checked" [attr.disabled]="disableTextbox? true : null"
                        />
                        &nbsp;{{ d.name }}
                      </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Số lượng thành viên trong đoàn</h6>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="soLuongTV" formControlName="soLuongTV" [attr.disabled]="true"/>
                </div>
                <div class="col-sm-6" style="align-self: center;">
                    <h6>&nbsp;người</h6>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6>Ghi chú</h6>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="ghiChu" formControlName="ghiChu" [attr.disabled]="disableTextbox? true : null">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h6 style="font-weight: bold;">Hồ sơ đính kèm</h6>
                </div>
                <div class="col-sm-9 custom-file-button">
                    <label for="uploadDocument">Tải tệp file không lớn hơn
                        <strong>100 MB</strong></label>
                    <mat-chip-list #chipList>
                        <input type="file" multiple #uploadFile (change)="handleFileInput($event)"
                            [matChipInputFor]="chipList" name="listFile" formControlName="listFile" id="inputGroupFile" [attr.disabled]="disableTextbox? true : null">
                            <label class="input-group-text label-cus mt-1" for="inputGroupFile">Tải tập tin</label>
                        <mat-chip  style="background-color: #e3e5e6;" *ngFor="let file of lstUploadedFiles; let index = index"
                            [removable]="true" (removed)="remove(file.AttachmentName, index)">
                            {{file.AttachmentName}}
                            <mat-icon matChipRemove *ngIf="disableTextbox == false">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <h6 style="font-weight: bold;">Lãnh đạo tiếp đoàn</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center col-10">Họ và tên</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="jsonLanhDao">
                        <tr *ngFor="let itemLD of lanhDaoControls; let i = index" [formGroupName]="i">
                            <td class="text-center" style="font-weight: bold;"></td>
                            <td><input type="text" class="form-control" style="width: 100%;" name="hoTen" formControlName="hoTen" [attr.disabled]="disableTextbox? true : null"></td>
                            <td style="display: none;"><input type="text" class="form-control" style="width: 100%;" name="iD" formControlName="iD" [ngModel]="0"></td>
                            <td style="display: none;"><input type="text" class="form-control" style="width: 100%;" name="maHSDoan" formControlName="maHSDoan" [(ngModel)]="maDoanValue"></td>
                            <td class="text-center">
                                <a *ngIf="disableTextbox == false" class="add" title="Add" data-toggle="tooltip" (click)="addTableLDTD()"><i
                                        class="material-icons">&#xE03B;</i></a>
                                <a *ngIf="disableTextbox == false" class="delete" title="Delete" data-toggle="tooltip" (click)="deleteRowLDTD(i)"><i
                                        class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="form-group row">
                <h6 style="font-weight: bold;">Hoạt động tại các địa phương</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center col-6">Địa phương</th>
                            <th class="text-center col-2">Từ ngày</th>
                            <th class="text-center col-2">Đến ngày</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="jsonHDTaiDP">
                        <tr *ngFor="let itemDP of diaPhuongControls; let i = index" [formGroupName]="i">
                            <td class="text-center" style="font-weight: bold;"></td>
                            <td><input type="text" class="form-control" style="width: 100%;" name="diaPhuong" formControlName="diaPhuong" [attr.disabled]="disableTextbox? true : null"></td>
                            <td><input type="text" class="form-control" style="width: 100%;" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" name="tuNgay" formControlName="tuNgay" id="tuNgay{{i}}"
                                placeholder="dd/mm/yyyy" [attr.disabled]="disableTextbox? true : null" (change)="isInvalidDateTuNgay($event,i)" 
                                (keypress)=" numberOnlywithForwardSlash($event)" (bsValueChange)="checkDateTuNgay($event,i)" maxlength="10"></td>
                            <td><input type="text" class="form-control" style="width: 100%;" name="denNgay" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="denNgay" id="denNgay{{i}}" 
                                placeholder="dd/mm/yyyy" [attr.disabled]="disableTextbox? true : null"
                                (keypress)=" numberOnlywithForwardSlash($event)" (change)="isInvalidDateDenNgay($event,i)" (bsValueChange)="checkDateDenNgay($event,i)" maxlength="10"></td>
                            <td style="display: none;"><input type="text" class="form-control" style="width: 100%;" name="iD" formControlName="iD" [ngModel]="0"></td>
                            <td style="display: none;"><input type="text" class="form-control" style="width: 100%;" name="maHSDoan" formControlName="maHSDoan" [(ngModel)]="maDoanValue"></td>
                            <td class="text-center">
                                <a *ngIf="disableTextbox == false" class="add" title="Add" data-toggle="tooltip" (click)="addTableHDTCDP()"><i
                                        class="material-icons">&#xE03B;</i></a>
                                <a *ngIf="disableTextbox == false" class="delete" title="Delete" data-toggle="tooltip" (click)="deleteRowHDTCDP(i)"><i
                                        class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary jh-create-entity buttonborder"
                 data-cy="submit" style="margin-right: 1%; width: 100px;" 
                 [disabled]="createForm.get('tenDoan').invalid || createForm.get('truongDoan').invalid || createForm.get('quocGia').invalid || createForm.get('ngayNC').invalid || createForm.get('mucDichHD').invalid" 
                 *ngIf="isShowSideBar" 
                 [class.active]="isShowSideBar">
                    <fa-icon class="bi bi-floppy-fill iconColor"></fa-icon>
                    <span class="iconColor">Lưu</span>
                </button>

                <button class="btn btn-primary jh-create-entity buttonborder" (click)="onCreateTV()" *ngIf="!isShowSideBar" [class.active]="isShowSideBar" style="margin-right: 1%; background-color: #1A4792; color: white;" >
                   <span>Thêm mới thành viên đoàn</span>
               </button>

               <button class="btn btn-primary jh-create-entity buttonborder" [routerLink]="['/doanVao/quanLyDoanVao']">
                <fa-icon class="bi bi-box-arrow-left iconColor"></fa-icon>
                <span class="iconColor">Quay lại</span>
              </button>
            </div>
        </div>
    </form>
</div>

<app-alert></app-alert>