<div class="row custom-bg">
  <div class="col-lg-4 col-xl-4 col-xl-4 col-xxl-4 col-sm-12 col-md-12 bg-logo-1 position-relative">
    <div class="position-absolute top-15 start-15 display-logo">
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
      <!-- <img src="../../content/images/Group.png" class="img-Group" alt="Group" style="height: fit-content;" /> -->
    </div>
    <div class="position-absolute bottom-15 start-50 translate-middle-x display-logo-fpt">
      <!-- <img src="../../content/images/Group 17949.png" class="img-Group17949" alt="Group 17949" /> -->
    </div>
  </div>
  <form
    class="col-lg-8 col-xl-8 col-xl-8 col-xxl-8 col-sm-12 col-md-12 col-xl-12 bg-logo-2 position-relative mb-xl-costomer"
    [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex align-items-center flex-column">
        <div class="mb-5 display-logo-ceca">
        </div>

        <p class="color-text-ftp-login mb-4 fw-bold fw-title">Đăng nhập vào hệ thống</p>
        <div class="mb-4">
          <label for="email" class="form-label fw-bold">Tài khoản&nbsp;<span class="text-danger"> *</span></label>
          <input type="email" class="form-control cls-input" id="email" placeholder="Nhập tài khoản"
            formControlName="username" />

          <!-- <div
            *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)">
            <small class="form-text text-danger" *ngIf="loginForm.get('username')?.errors?.required"> Trường này bắt
              buộc phải nhập </small>
          </div> -->
          <!-- <div *ngIf="warningMessage">
            <small class="form-text text-danger">Sai tài khoản hoặc mật khẩu</small>
          </div>
          <div *ngIf="checkUsename">
            <small class="form-text text-danger">Tài khoản không được để trống</small>
          </div>     
          <div *ngIf="authenticationError">
            <small class="form-text text-danger">Tài khoản này chưa tồn tài</small>
          </div> -->
        </div>
        <div class="mb-4">
          <label for="pass" class="form-label fw-bold">Mật khẩu&nbsp;<span class="text-danger"> *</span></label>
          <div class="input-group">
            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control cls-input2 input-field" id="pass"
              placeholder="Nhập mật khẩu" formControlName="password" />
            <span class="input-group-text-custom" id="basic-addon1" (click)="fieldTextType = !fieldTextType">
              <img src="../../../content/images/login/eye.png" alt="eye" />
            </span>
          </div>
          <!-- <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
            <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.required"> Trường này bắt
              buộc phải nhập </small>
          </div> -->
          <!-- <div *ngIf="checkPass">
            <small class="form-text text-danger">Mật khẩu không được để trống</small>
          </div> -->
        </div>

        <p class="color-0000a6 fw-bold mb-5"></p>
        <!-- <p class="color-0000a6 fw-bold mb-5">Quên mật khẩu?</p> -->

        <div class="row">
          <!-- <button type="button" class="btn btn-quaylai display-btn-quaylai col" (click)="closeWindow()">
            <img src="../../../content/images/login/Vector.png" alt="Vector" />
            Thoát
          </button> -->
          <button type="submit" class="btn btn-dangnhap col">Đăng nhập</button>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center mt-sm-5 mt-xl-5">
        <p class="color-text-ftp-login register fw-bold" routerLink="/register">Tôi chưa có tài khoản</p>
      </div> -->
      <div class="d-flex justify-content-center">
        <img src="../../../content/images/login/Group 17901.png" class="display-logo" alt="Group 17901" />
      </div>
    </div>
  </form>
</div>
<app-alert></app-alert>