<div>
  <div style="background-color: white; padding: 2%;">
    <h3 class="title"><b><fa-icon class="bi bi-search"></fa-icon>Điều kiện tìm kiếm</b></h3>
    <hr>
    <div>
      <form action="">
        <table style="height: 145px;">
          <tr>
            <td style="width: 9%;" class="text-nowrap">
              <h6>STT đoàn</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.maDoan" name="maDoan"></td>
            <td style="padding-left: 4%;" class="text-nowrap">
              <h6>Mục đích hoạt động</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.mucDichHD" name="mucDichHD">
            </td>
            <td style="padding-left: 3%;" class="text-nowrap">
              <h6>Chức vụ</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.chucVu" name="chucVu"></td>
          </tr>
          <tr>
            <td class="text-nowrap">
              <h6>Tên đoàn</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.tenDoan" name="tenDoan"></td>
            <td style="padding-left: 4%;" class="text-nowrap">
              <h6>Quốc gia đến</h6>
            </td>
            <td><select class="form-select inputBorder" style="background-color: #fff" [(ngModel)]="fields.quocGia"
                [ngModelOptions]="{standalone: true}">
                <option [value]="null" default>------- Tất cả --------</option>
                <option *ngFor="let item of quocGiaList" [value]="item.maQG">{{ item.ten }}</option>
              </select></td>
            <td style="padding-left: 3%;" class="text-nowrap">
              <h6>Ngày xuất cảnh</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" placeholder="dd/mm/yyyy" id="ngayXC" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false }" [(ngModel)]="fields.ngayXC"
                [ngModelOptions]="{standalone: true}" name="ngayXC" (change)="isInvalidDateNgayXC($event)"
                (keypress)=" numberOnlywithForwardSlash($event)" (bsValueChange)="checkDateNgayXC($event)"
                maxlength="10" /></td>
          </tr>
          <tr>
            <td class="text-nowrap">
              <h6>Trưởng đoàn</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.truongDoan" name="truongDoan">
            </td>
            <td style="padding-left: 4%;" class="text-nowrap">
              <h6 class="col-4 pt-2">Năm</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" [(ngModel)]="fields.nam" name="nam"></td>
            <td style="padding-left: 3%;" class="text-nowrap">
              <h6>Ngày nhập cảnh</h6>
            </td>
            <td><input class="form-control inputBorder" type="text" id="ngayNC" placeholder="dd/mm/yyyy" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false }" [(ngModel)]="fields.ngayNC"
                [ngModelOptions]="{standalone: true}" name="ngayNC" (change)="isInvalidDateNgayNC($event)"
                (keypress)=" numberOnlywithForwardSlash($event)" (bsValueChange)="checkDateNgayNC($event)"
                maxlength="10" /></td>
          </tr>
        </table>
      </form>
    </div>
    <br>
    <div class="d-flex justify-content-end">
      <button  type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="search()">
        <fa-icon class="iconColor" icon="search"></fa-icon>
        <span class="iconColor">Tìm kiếm</span>
      </button>
      <button type="button" *ngIf="checkAuth" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" [routerLink]="['./new']">
        <fa-icon class="iconColor" icon="plus"></fa-icon> <span class="iconColor">Thêm mới</span>
      </button>
      <button type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataPrint()">
        <fa-icon class="bi-printer iconColor"></fa-icon> <span class="iconColor">In báo cáo</span>
      </button>
      <button type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="loadDataExport()">
        <fa-icon class="bi-file-earmark-arrow-down iconColor"></fa-icon> <span class="iconColor">Kết xuất</span>
      </button>
      <button type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" (click)="resetFields()">
        <fa-icon class="bi-trash iconColor"></fa-icon>
        <span class="iconColor">Xóa tìm kiếm</span>
      </button>
      <button type="button" class="btn btn-primary jh-create-entity me-3 iconBG buttonborder" routerLink="">
        <fa-icon class="bi-box-arrow-left iconColor"></fa-icon>
        <span class="iconColor">Thoát</span>
      </button>
    </div>
  </div>
  <div style="background-color: white; padding: 2%; margin-top: 1%;">
    <h3 class="title"><b><fa-icon class="bi bi-folder2"></fa-icon>Kết quả tìm kiếm</b></h3>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive content-wrapper" *ngIf="users">
      <table class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px; width: 100%;" id="table-data">
        <thead class="text-nowrap align-middle">
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">STT đoàn</th>
            <th class="text-center">Tên đoàn</th>
            <th class="text-center">Trưởng đoàn</th>
            <th class="text-center">Chức vụ - cơ quan công tác</th>
            <th class="text-center">Quốc gia đến</th>
            <th class="text-center">Mục đích hoạt động</th>
            <th class="text-center">Ngày xuất cảnh</th>
            <th class="text-center">Ngày nhập cảnh</th>
            <th class="text-center">Số lượng thành viên</th>
            <th class="text-center">Người tạo</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="ExPrItem.length > 0">
          <tr
            *ngFor="let user of ExPrItem ; let i = index">
            <td class="text-center" >{{ExPrItem.indexOf(user)+1}}</td>
            <td class="text-center" >{{ user.maDoan }}</td>
            <td style="width: 19%;">{{ user.tenDoan }}</td>
            <td style="width: 10%;">{{ user.truongDoan }}</td>
            <td >{{ user.chucVu }}</td>
            <td >
              <p *ngFor="let quocGiaI of user.listHoSoDtl">{{ quocGiaI.quocGia }}</p>
            </td>
            <td >{{ user.mucDichHD }}</td>
            <td class="text-center" >{{ user.ngayXC }}</td>
            <td class="text-center" >{{ user.ngayNC }}</td>
            <td class="text-center" style="width: 5%;">
              <p *ngFor="let slTV of user.listHoSoDtl"><a class="color-0000a6 text-decoration-none"
                  (click)="PopUp($event, popupDiv,user.maDoan, slTV.maQG)">{{ slTV.soLuongTV == null ? '0' : slTV.soLuongTV}}</a></p>
            </td>
            <td class="text-center">{{ user.createdBy }}</td>
            <td class="colButton text-center" style="vertical-align: middle">
              <div class="text-nowrap">
                <button (click)="onSelectDoan(user)" type="button" class="download" >
                  <i class="material-icons add">add_circle</i>
                </button>
                <button (click)="downloadFileAll(user.maDoan, user.tenDoan)" type="button" class="download" >
                  <i class="material-icons download">file_download</i>
                </button>
                <button type="button" class="view" [routerLink]="['./viewDR', user.maDoan]">
                  <i class="material-icons view">visibility</i>
                </button>
                <button type="button" class="edit"  (click)="editUser(user)" queryParamsHandling="merge">
                  <i class="material-icons edit">edit</i>
                </button>
                <button type="button" class="delete" (click)="deleteUser(user)">
                  <i class="material-icons delete">delete</i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-2 divBGColor" *ngIf="ExPrItem?.length <= 0">
      <br><br><br>
      <div class="text-center">
        <h5 style="font-weight: bold;">Không tìm thấy bản ghi thỏa mãn điều kiện!</h5>
      </div>
      <br><br><br>
    </div>
    <div *ngIf="ExPrItem">
      <div class="row me-2 pt-1">
        <div class="col-4 pt-2">
          <h6><i><jhi-item-count [params]="{ nameModule: 'đoàn ra', totalItems: totalItems }"></jhi-item-count></i>
          </h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <ngb-pagination 
            [collectionSize]="totalItems" 
            [(page)]="page" 
            [pageSize]="itemsPerPage" 
            [maxSize]="5"
            [rotate]="true" 
            [boundaryLinks]="true" 
            (pageChange)="transition()">
          </ngb-pagination>
        </div>
        <div class="col-4 d-flex justify-content-end pt-2">
          <h6><i>Trang {{page}} / {{totalPage}}</i></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" role="alert" #popupDiv>
  <div class="popup-container">
    <a class="popup-close img-replace" (click)="PopUpClose($event, popupDiv)">Close</a>
    <div>
      <h5>Danh sách thành viên đoàn</h5>
    </div>
    <div class="table-responsive content-wrapper overflow-auto" *ngIf="qlyTV">
      <table class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px;" id="table-data">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
            <th scope="col" jhiSortBy="id" class="text-center"><span>STT</span></th>
            <th scope="col" jhiSortBy="login" class="text-center text-nowrap"><span>STT trong đoàn</span></th>
            <th scope="col" jhiSortBy="email" class="text-center text-nowrap"><span>Họ và tên</span></th>
            <th scope="col" class="text-center text-nowrap"><span>Chức vụ</span></th>
            <th scope="col" class="text-center text-nowrap">
              <span>Cơ quan làm việc</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Ngày sinh</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Giới tính</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Số hộ chiếu</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Ngày cấp</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Quốc gia đến</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Là thành viên của đoàn</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Ngày xuất cảnh</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Ngày nhập cảnh</span>
            </th>
            <th scope="col" class="text-center text-nowrap">
              <span>Nơi lưu trú</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="qlyTV">
          <tr *ngFor="let user of qlyTV | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage">
            <td class="text-center">{{qlyTV.indexOf(user)+1}}</td>
            <td class="text-center">{{ user.soTT }}</td>
            <td>{{ user.hoTen }}</td>
            <td>{{ user.chucVu }}</td>
            <td>{{ user.coQuan }}</td>
            <td class="text-center">{{ user.hcNgoaiGiaoVM.ngaySinh}}</td>
            <td class="text-center">
              <div *ngIf="user.gioiTinh === true">Nam</div>
              <div *ngIf="user.gioiTinh === false">Nữ</div>
            </td>
            <td class="text-center">{{ user.soHoChieu }}</td>
            <td class="text-center">{{ user.hcNgoaiGiaoVM.cmndNgayCap }}</td>
            <td class="text-center">{{ user.quocGia }}</td>
            <td>{{ user.tenHSDoan }}</td>
            <td class="text-center">{{ user.ngayXC }}</td>
            <td class="text-center">{{ user.ngayNC }}</td>
            <td>{{ user.noiLuuTru }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-alert></app-alert>