<div class="modal-dialog">
    <div><h5>Danh sách thành viên đoàn</h5></div>
    <div class="table-responsive content-wrapper overflow-auto" *ngIf="qlyTV">
        <table class="table table-bordered table-striped" style="border: rgb(199, 199, 199) 1px;" id="table-data">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="id" class="text-center"><span>STT</span></th>
              <th scope="col" jhiSortBy="login" class="text-center"><span>STT khách</span></th>
              <th scope="col" jhiSortBy="email" class="text-center"><span>Họ và tên</span></th>
              <th scope="col" class="text-center"><span>Chức vụ</span></th>
              <th scope="col" class="text-center">
                <span>Cơ quan làm việc</span> 
              </th>
              <th scope="col" class="text-center">
                <span>Ngày sinh</span> 
              </th>
              <th scope="col" class="text-center">
                <span>Giới tính</span> 
              </th>
              <th scope="col" class="text-center">
                <span>Số hộ chiếu</span> 
              </th>
              <th scope="col" class="text-center">
                <span>Ngày cấp</span> 
              </th>
              <th scope="col" class="text-center">
                <span>Là thành viên của đoàn</span>
              </th>
              <th scope="col" class="text-center">
                <span>Ngày XC</span>
              </th>
              <th scope="col" class="text-center">
                <span>ngày NC</span>
              </th>
              <th scope="col" class="text-center">
                <span>Nơi lưu trú</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="qlyTV">
            <tr
              *ngFor="let user of qlyTV | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage">
              <td class="text-center"></td>
              <td class="text-center">{{ user.soTT }}</td>
              <td>{{ user.hoTen }}</td>
              <td>{{ user.chucVu }}</td>
              <td>{{ user.coQuan }}</td>
              <td class="text-center">{{ user.ngaySinh}}</td>
              <td class="text-center"><div *ngIf="user.gioiTinh === true">Nam</div>
                  <div *ngIf="user.gioiTinh === false">Nữ</div></td>
              <td class="text-center">{{ user.soHoChieu }}</td>
              <td class="text-center">{{ user.hC_NgayCap }}</td>
              <td>{{ user.tenHSDoan }}</td>
              <td class="text-center">{{ user.ngayXC }}</td>
              <td class="text-center">{{ user.ngayNC }}</td>
              <td>{{ user.noiLuuTru }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

