<div class="modal-conten p-3">
  <div class="modal-header">
    <h4 class="modal-title">Thêm mới chứng thư số</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="col-12 mb-3">
        <label for="orgName" class="form-label fw-bold">Tên đăng nhập <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập tên đăng nhập" />
      </div>
      <div class="col-12 mb-3">
        <label for="orgName" class="form-label fw-bold">Ghi chú</label>
        <input type="text" class="form-control form-control-lg border-radius-13" id="orgName" placeholder="Nhập ghi chú" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-F3F3F3" (click)="dismiss()">Đóng</button>
    <button type="button" class="btn btn-lg btn-0000A6" (click)="save()">Lưu</button>
  </div>
</div>
